/**
 * Assumindo que 1em valha 16px qualquer tela menor que 736px não terá 
 * um tamanho fixo. Como o navegador é responsivo por padrão, os textos
 * se adaptarão à tela elegantemente. 
 *
 * Mas se tiver espaço suficicente (>736px) aí podemos definir um tamanho
 * legal para que o leitor tenha espaço de respiro (é esse o termo?)
 */
@media all and (min-width: 46em) {
    body { 
        width: 40em; 
    }

    h1 { 
        width: 23em; 
    }
}

body {
    font: 1.1em/1.7  'Droid Sans', 'Calibri', 'Arial', 'sans-serif';
    background-color: #efeee8;
    color: #454545;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
}

/** 
 * Pequeno reset do CSS 
 */
section, header, article, figure, hgroup {
    display: block;
}

h1, h2, h3, ul, section, hgroup header, article, figure {
    margin: 0;
    padding: 0;
}

header {
    margin-top: 2em;
}

h1, h2 {
    margin: 1em auto;
    font-size: 1.5em;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
}

img {
    max-width: 100%;
}

article p {
    margin-bottom: 1.5em;
}

footer {
    border-top: 0.16em solid #a1a1a1;
}

footer ul {
    list-style: none;
    text-align: center;
}

/* 
 * Estilo para
 * barra de navegação
 */

.navBar ul{
    text-align: left;
}
.navBar ul li{
    display: inline;
    padding-right: 1.0em;
}
.navBar ul li a{
    text-decoration: none;
    color: #454545;
}
.navBar ul li a:hover{
    color: #d4aa00;
}

/*
 * Programação
 * Página Ações
 */

.txtAcoes{
	text-align:left;	
}
.txtAcoes ul{
	list-style-type: circle;
	margin-left:50px;
}
