body {
    font: 1.1em/1.7  'Droid Sans', 'Calibri', 'Arial', 'sans-serif';
    text-align: center;
    background-color: #efeee8;
    color: #454545;
    max-width: 37em;
    margin: 0 auto;
    padding: 0;
}

#corpo {
    margin-top: 2em;
}

h1 {
    font-size: 1.5em;
}
 
p {
    margin-bottom: 1.5em;
}
